body {
    background-color: #282828;
    color: #fbf1c7;
}

main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    color: #fbf1c7;
}
